extends layout

block content
  h1 Job results:
  //p List of jobs #{jobs}
  
  ol
    for job in jobs
      h3 #{job.title}:
      ul
        -var index = 0
        each val, key in job
          li(id="item-#{index++}") #{key}: !{val}
    else
      li No results :(